body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0
}

html {
  color: #000;
}

body,
button,
input,
select,
textarea {
  font-size: 12px;
  font-family: arial, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', '宋体', \5b8b\4f53, Tahoma, Arial, Helvetica, STHeiti
}

/* body,button,input,select,textarea{font-size:12px;font-family:'Microsoft Yahei','微软雅黑','宋体',\5b8b\4f53,Tahoma,Arial,Helvetica,STHeiti} */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%
}

em {
  font-style: normal
}

ul,
ol {
  list-style: none
}

a {
  text-decoration: none;
  color: #606266;
}

a:hover {
  text-decoration: none
}

legend {
  color: #000
}

fieldset,
img {
  border: 0
}

button,
input,
select,
textarea {
  font-size: 100%;
  border: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

textarea {
  resize: vertical
}

.left,
.fl {
  float: left
}

.right,
.fr {
  float: right
}

.overflow {
  overflow: hidden
}

.hide {
  display: none
}

.show {
  display: block
}

.inline {
  display: inline
}

.error {
  color: #F00;
  font-size: 12px
}

label,
button {
  cursor: pointer
}

.clearfix:after {
  content: '\20';
  display: block;
  height: 0;
  clear: both
}

.clearfix {
  zoom: 1
}

.clear {
  clear: both;
  height: 0;
  line-height: 0;
  font-size: 0;
  visibility: hidden;
  overflow: hidden
}

img {
  border: 0
}

.position {
  position: relative;
}



/* 强制一行显示 */
.text_overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 多行显示 */
.text_overflow2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.nav_box,
.nav_li,
.nav_son {
  transition: all .3s;
  -webkit-transition: all .3s;
}

// 导航
.nav_box {
  box-shadow: 4px 0px 10px 0px rgba(24, 25, 25, 0.1);
  width: 220px;
  background-color: $gb_nav;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  z-index: 10;

  .logo {
    height: 120px;
    display: flex;

    >img {
      margin: auto;
      max-width: 100%;
    }
  }
}

.nav {
  .nav_li {
    position: relative;
    color: #fff;

    .nav_li_title {

      color: $gb_nav_font;
      font-size: 18px;
      font-weight: bold;
      padding: 18px 10px 18px 85px;
      position: relative;

      >img {
        position: absolute;
        left: 33px;
        top: 6px;
      }
    }

    .nav_son {
      height: 0px;
      overflow: hidden;

      >li {
        width: 100%;

        a {
          height: 40px;
          line-height: 40px;
          color: $gb_nav_font;
          font-size: 14px;
          display: block;
          padding: 0 10px 0 60px;
        }

        a:hover,
        a.active {
          background-color: $bg_a_hover;
        }
      }
    }
  }

  .nav_li.active {
    background-color: $gb_nav_son;
  }

  .nav_li:hover::after,
  .nav_li.hov::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 8px;
    height: 60px;
    background-color: $gb_color;
  }

  .nav_li.active .nav_son {
    height: auto;
  }
}

.m_cover {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
  display: block;
}

// 头部
.header {
  position: fixed;
  left: 220px;
  top: 0;
  height: 59px;
  background-color: #ffffff;
  right: 0;
  border-bottom: 1px solid #ccc;
}

.header_left {
  height: 100%;
  width: 100%
}

.header_title {
  font-size: 18px;
  line-height: 60px;
  font-weight: bold;
  padding-left: 10px;
}

.header_right {
  height: 100%;
  display: flex;
  line-height: 60px;
  font-size: 14px;
  margin-right: 90px;
  color: #000;

  >img {
    margin: auto;
    margin-right: 11px;
  }
}

.header_ra {
  display: flex;
  height: 100%;
  line-height: 60px;
  color: #000;

  >img {
    margin: auto;
    margin-right: 11px;
  }
}

.select_com {
  margin-top: 26px;
  margin-left: 16px;
}


#app.hideNav {
  .nav_box {
    display: none;
  }

  #header,
  #main {
    left: 0;
  }

  #nav_img {
    transform: rotate(-180deg);
  }

  .m_cover {
    display: none;
  }
}

@media screen and (max-width:1000px) {
  #app {

    #header,
    #main {
      left: 0;
    }
  }
}

.select_com {
  border: 10px solid #666666;
  border-color: #666 transparent transparent transparent;
  border-width: 10px 7px 10px 7px;
}

.m_cover {
  display: none !important;
}