// 主题
.bg_red {
    color: #fff;
    background: #e1343a;
    border:0; 
  } 
  
  .bg_zi {
    color: #fff;
    background: #9b50b7;
    border:0; 
  } 

  .bg_theme {
    color: #fff;
    background: $gb_color;
  } 
  
  .color_red {
    color: #e1343a;
    font-weight: bold;
  }
  
  .color_green {
    color: $gb_color;
    font-weight: bold;
  }
  
  .border_0 {
    border:0; 
  }
  
  .color_fff {
    color: #fff;
  }
  
  .theme_color {
    color: $gb_color;
  }
  
  .theme_bg {
    background: $gb_color;
  }
  
  .theme_border {
    border-color: $gb_color;
  }

  // 背景图合集
  // #print.print {
  //   background:url('../images/sj.jpg') no-repeat;
  // }
   
  