// 组件
.actTop {
  padding: 20px;
  background: #fff;
  border: solid 1px #cccccc;
  margin-bottom: 20px;
}

.min_el_btn {
  min-width: 120px;
  min-height: 40px;
}

// 标题
.title_com {
  font-size: 14px;
  height: 50px;
  line-height: 49px;
  border-bottom: solid 1px #cccccc;
  box-sizing: border-box;
  padding: 0 20px;
}

.border_wrap {
  border: 1px solid #cccccc;
}

.bg_fff {
  background: #fff;
}

.module_box {
  border: 1px solid #cccccc;
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
}

// padding为10的框
.module_box10 {
  border: 1px solid #cccccc;
  background: #fff;
  padding: 10px;
  margin-bottom: 20px;
}

.max_input_width {
  max-width: 80%;
}

.max_input_w90 {
  width: 95%;
  max-width: 320px;
}

.inline_date_box {
  margin-left: 16px;
  margin-bottom: 10px;
  display: inline-block;
}

.select_top {
  .el-input {
    border-color: #cccccc;
  }
  .el-select .el-input {
    width: 130px;
    border-color: #cccccc;
  }
}

.time_btn {
  margin-bottom: 10px;
}

.chart_box {
  border: 1px solid #cccccc;
  background: #fff;
  margin-bottom: 20px;
}

.td_zi {
  font-weight: bold;
  color: #9b50b7;
}

.max_w1040 {
  max-width: 1000px;
}

.rich_text {
  font-size: 14px;
  // line-height: 24px;
  img {
    max-width: 100%;
  }
}

.visibility {
  visibility: hidden;
}

.save_btn_box {
  text-align: center;

  button {
    width: 160px;
    height: 40px;
    font-weight: bold;
    margin: 0 20px;
  }
}

.textarea_h170 {
  textarea {
    height: 171px;
  }
}
.textarea_date {
  padding: 24px 0;
}

.dialog_box {
  border: solid 1px #cccccc;
  > h3 {
    background-image: linear-gradient(90deg, #944ebc 0%, #fd6f6b 100%),
      linear-gradient(#ffffff, #ffffff);
    color: #fff;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
  }
  .dialog_content {
    padding: 20px;
    padding-bottom: 0;
  }
  .head_img {
    padding-left: 80px;
    position: relative;
    min-height: 60px;
    margin-bottom: 20px;
    p {
      font-weight: bold;
      padding: 10px 0;
    }
    .el-avatar {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

.bz_textarea {
  width: 100%;
  max-width: 690px;
  .el-form-item__content {
    width: 83%;
  }
  textarea {
    height: 100px;
  }
}

// 头像
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 150px;
  height: 150px;
  line-height: 150px;
  text-align: center;
}
.avatar {
  width: 150px;
  height: 150px;
  display: block;
}

@media screen and (max-width: 1000px) {
  .min_el_btn {
    min-width: auto;
  }
}

// 班级教师框
.teacher_box {
  border: 1px solid #cccccc;
  background: #fff;
  padding: 10px;
  margin-top: -1px;
  line-height: 60px;
  font-size: 14px;
  position: relative;
  .teacher_close {
    font-size: 18px;
    position: absolute;
    right: 40px;
    top: 30px;
    cursor: pointer;
    border-radius: 50%;
  }
}

// 表格头部颜色
.table_com {
  .el-table thead tr {
    background-image: linear-gradient(90deg, #944ebc 0%, #fd6f6b 100%),
      linear-gradient($gb_color, $gb_color);
  }

  .el-table th {
    background-color: transparent;
    color: #fff;
  }
}

.table_com_green {
  .el-table thead tr {
    background-color: $gb_color;
  }

  .el-table th {
    background-color: transparent;
    color: #fff;
  }
}

.table_com_ccc {
  .el-table thead tr {
    background-color: #ccc;
  }

  .el-table th {
    background-color: transparent;
    color: #fff;
  }
}

// 弹窗编辑组件
.title_com2 {
  font-size: 14px;
  height: 50px;
  line-height: 49px;
  border-bottom: solid 1px #cccccc;
  box-sizing: border-box;
  padding: 0 20px;
  color: #fff;
  background-image: linear-gradient(90deg, #944ebc 0%, #fd6f6b 100%),
    linear-gradient(#ffffff, #ffffff);
}

.dialog_max600 {
  max-width: 600px;
  margin: 0 auto;
}

.dialog_content {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

// 题目信息框
.subject_box {
  display: flex;
  font-size: 14px;
  position: relative;

  .subject_img {
    width: 260px;
    height: 150px;
  }
  .select_checke {
    display: flex;
    padding: 0 20px 0 10px;
    height: 100%;
    margin: auto 0;
  }
  .subject_info {
    padding-left: 20px;
    padding-top: 16px;
    max-width: 500px;
    h3 {
      font-size: 16px;
      padding-bottom: 18px;
      line-height: 22px;
    }
    .subject_tag {
      color: #ffffff;
      font-size: 12px;
      background-color: #2798ee;
      padding: 5px 21px;
      margin-right: 8px;
    }
    p {
      padding: 6px 0;
    }
    time {
      display: block;
      font-size: 12px;
      padding-top: 13px;
    }
  }
  .subject_right {
    margin: auto 0 0 auto;
    padding: 0 10px 10px 0;
  }
  .subject_position {
    position: absolute;
    right: 20px;
    background-color: #2798ee;
    color: #fff;
    top: 25%;
  }

  .tag_zi {
    background-color: #9b50b7 !important;
  }
}

// 题目列表  题目信息框
.subject_box {
  .subject_list_right {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
  .subject_h3 {
    font-size: 18px;
    font-weight: bold;
  }
}

// 网校 成绩显示框
.score_box {
  padding-top: 20px;
  max-width: 960px;
  .score_li {
    min-width: 230px;
    height: 50px;
    box-sizing: border-box;
    padding: 16px 18px;
    border: 1px solid #e6e6e6;
    font-size: 14px;
    float: left;
    margin-left: -1px;
    margin-top: -1px;
    span {
      font-weight: bold;
      color: $gb_color;
      font-size: 18px;
    }
  }
}

// 课程章节框
.set_chapters_box {
  border: 1px solid #ccc;
  padding: 15px 120px 15px 20px;
  margin: 20px 0 10px;
  position: relative;
  h3 {
    font-size: 16px;
    padding-bottom: 6px;
  }
  p {
    line-height: 16px;
  }
}

.set_period_box {
  border: 1px solid #ccc;
  padding: 10px 180px 10px 48px;
  margin: 10px 0;
  margin-left: 30px;
  position: relative;
  p {
    line-height: 18px;
    font-size: 14px;
    position: relative;
  }
  .el-tag {
    position: absolute;
    right: 120px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.set_period_box::before {
  content: '';
  position: absolute;
  left: 20px;
  top: calc(50% - 8px);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

.set_manage {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

// 题目列表
.subject_list_info {
  font-size: 14px;
  color: #999999;
  margin-top: 5px;
  time {
    margin-left: 10px;
  }
}

.subject_list_title {
  h3 {
    font-size: 16px;
  }
  span {
    min-width: 50px;
    display: inline-block;
    height: 20px;
    background: $gb_color;
    text-align: center;
    color: #fff;
    line-height: 20px;
    font-size: 12px;
    margin-right: 10px;
    vertical-align: top;
    margin-top: 1px;
    box-sizing: border-box;
    padding: 0 5px;
  }
}
//搜索查询
.inline_date_box {
  margin-left: 16px;
  margin-bottom: 10px;
  display: inline-block;
}
